*,*::before,*::after {
    border: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fixed-tab-1 {
    height: 100%;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: lightgray;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 2rem;
}

#canvas {
    margin: 2rem auto;
    width: 90vw;
    height: 50vw;
    max-height: 50vh;
    background-color: white;
}

input[type=color] {
    height: 40px;
    padding: 0.3rem;
}

button, input {
    padding: 1rem;
    height: auto;
}


.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.controls > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.controls.colorcontrols > div {
    justify-content: center;
}


.controls.colorcontrols >div>div {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 5px;
    border: 2px solid gray;
}

section {
    /*background-color: white;  So it can be easily overwritten */
}

.selected_t1 {
    border: 1px dashed white;
}

.selected_t2 {
    border: 1px dashed black;
}

.flex_horizontal {
    display: flex;
    flex-direction: column;
}

.flex_vertical {
    display: flex;
    flex-direction: row;
}

.element {
    width: 100%;
    height: 100%;
}